@import 'tailwindcss';
body {
  /* font-family: 'Nunito', sans-serif; */
}
@keyframes float{
    0%,100%{
        transform:translate(0,0)
    }

    25%{
        transform:translate(40px,-30px)
    }

    50%{
        transform:translate(-40px,30px)
    }
    75%{
        transform:translate(-40px,-30px)
    }
}

@keyframes moveBlob {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(200px, 0);
  }

  50% {
    transform: translate(200px, 200px);
  }

  75% {
    transform: translate(0, 200px);
  }

  100% {
    transform: translate(0, 0);
  }
}


.radio-box{
  @apply rounded-sm appearance-none w-4 h-4  border-2 text-gray-400 checked:bg-blue-500 checked:border-blue-900 cursor-pointer
}


.price-filter-bg{
  @apply rounded-lg border border-gray-200 px-2 text-[12px]
}

.notes-counter-bg{
  @apply bg-gray-200 px-2 rounded-xl
}